{
  "extends": "standard",
  "rules": {
    "semi": ["error", "always"],
    "comma-dangle": ["error", "always-multiline"]
  },
  "globals": {
    "describe": false,
    "it": false,
    "before": false,
    "beforeEach": false,
    "after": false,
    "afterEach": false,
    "expect"
  }
}
